body {
    background-color: plum;
    color: rgb(134, 5, 5);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 40px;
}

h1 {
    color: darkred;
}

h2 {
    color: rgb(100, 0, 97);
}

h3, h4, h5, h6 {
    color: purple;
}

p {
    font-size: 18px;
}

img {
    border: 3px solid rgb(139, 0, 30);
    border-radius: 10px;
}

ul, ol {
    display: inline-block;
    text-align: left;
}

a {
    color: darkred;
    text-decoration: none;
}

a:hover {
    color: rgb(128, 9, 0);
}

hr {
    border: 1px solid rgb(67, 1, 98);
}